<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liaoinstan.demospring">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo1.Demo1Activity" />
        <activity android:name=".demo2.Demo2Activity" />
        <activity android:name=".demo3.Demo3Activity" />
        <activity android:name=".demo4.Demo4Activity" />
        <activity android:name=".demo5.Demo5Activity" />
        <activity android:name=".demo6.Demo6Activity" />
        <activity android:name=".demo7.Demo7Activity" />
        <activity android:name=".demo8.Demo8Activity" />
        <activity android:name=".demo9.Demo9Activity" />
        <activity android:name=".demo10.Demo10Activity" />
        <activity android:name=".demo11.Demo11Activity" />
        <activity android:name=".demo12.Demo12Activity" />
        <activity android:name=".demo13.Demo13Activity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".warning.WarningActivity" />
    </application>

</manifest>